@import './base.css';

@font-face {
    font-family: Fixedsys;
    src: url("@/assets/FSEX302.ttf");
}

body {
    margin: 0;
    color: var(--text);
    font-family: Fixedsys, monospace;
    overflow: hidden;
}

#app {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: stretch;
}
